<html ng-app="myApp">
   <head>
      <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Project IoT -- CAN Arduino </title>
	  
	  	  <!-- TESTING SERIAL PORT-->
	  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	  		<script src="socket.io/socket.io.js"></script>
	  		<script>
	  			var app = angular.module('myApp', []);
	  			var socket = io();

	  			app.controller('appCltr', ['$scope',function($scope){

	  				socket.on('port', function(port){
	  					$scope.$apply(function(){
	  					$scope.data = port;
	  					console.log(port);
	  					});
	  				});
				
	  				socket.on('airbag', function(airbag){
	  					$scope.$apply(function(){
	  					$scope.airbag = airbag;
	  					console.log(airbag);
	  					});
	  				});
			
	  			}]);
	  </script>
	  
	  
	  
	  
   </head>
   
   
   
   <body>
	   <!-- Header -->
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-xs-6 bg-info" style="text-align:center">
               <h1 ><%=title%></h1>
            </div>
         </div>
      </div>
	  
	  
  <!-- Dropdown um Steuergerät auszuwählen -->
     <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Steuergerätauswahl
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
           <% nodes.forEach(function(nodes) { %>
           <button id='<%= nodes.id %>'  onclick="window.location.href='http://localhost:3000/<%= nodes.name %>'">
              <img src= '/icons/<%= nodes.pic %>.png' width="100" height="100" >
              <li ><a><%= nodes.name %> 
                 >> ID: <%=nodes.id %></a>
              </li>
           </button>
           <% }); %>
        </ul>
     </div>
	  
 	  <!-- Hauptteil der Daten verarbeitet -->
 	 <div class="container"  ng-controller="appCltr" >
	   <div class="row">
	     <div class="col-md-12">
	       <h1><strong> AUSGABEBEREICH</strong></h1>
	     </div>
	   </div>
	   <div class="row">
	     <div class="col-sm-6" style="height: 300px">
	       <div class="tile purple">
	         <h3 class="title">Informationen über das Node</h3>
	         <p><%=nodes[6].name %> mit der ID= <%=nodes[6].id %></p>
   	 <p>  {{airbag[0].name}} =  {{airbag[0].value}}  </p><!--SocketLiveDaten-->
   	 <p>  {{airbag[1].name}} =  {{airbag[1].value}}  </p><!--SocketLiveDaten-->
	       </div>
	     </div>
  	     <div  class="col-sm-6" style="height: 300px">
  	       <div class="tile red">
  	         <h3 class="title">RawDaten.</h3>
  	         <p>Unverarbeitete Daten.</p>
  			 <p>  {{data}}   </p>
  			 <p> </P>
			
			 
  	       </div>
  	     </div>
	     
  	   </div>
  	   <div class="row">
  	     <div class="col-sm-6" style="height: 300px">
  	       <div class="tile green">
  	         <h3 class="title">LiveDaten</h3>
  	         <p>Verarbeitete Raw Daten.</p>
  			 <p>Für dieses Steuergerät relevante Daten = {{data.substring(0,6)}}</p>
  	       </div>
		   
  	     </div>
  	     <div class="col-sm-6" style="height: 300px">
  	       <div class="tile orange">
  	         <h3 class="title">Diagramm</h3>
  	         <p>Daten im Diagramm anzeigen.</p>
  	       </div>
  	     </div>
	     
		 
  	   </div>
  	 </div>
	   
   </body>
</html>