<html >
   <head>
      <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Project IoT -- CAN Arduino </title>
      <!--					SPEEDOMETER					-->
      <link href="css/speedometer.css" rel="stylesheet">
      
      <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Play:700,400' type='text/css'>
      <script type="text/javascript" src="http://iop.io/js/vendor/d3.v3.min.js"></script>
      <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerEvents/pointerevents.js"></script>
      <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerGestures/pointergestures.js"></script>
      <script type="text/javascript" src="http://iop.io/js/iopctrl.js"></script>
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     
	 <!-- THERMOMETER JAVASCRIPT-->
	 <script language="javascript" type="text/javascript" src="/js/thermometer.js"></script>
	
      <!-- TESTING SERIAL PORT-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
      <script src="socket.io/socket.io.js"></script>
      <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
      <script src="http://cdn.zingchart.com/angular/zingchart-angularjs.js"></script>

	  <!--AngularJs WebSocket-->
      <script>
         var app = angular.module('myApp', ['zingchart-angularjs']);
         var socket = io();
         
         app.controller('appCltr', ['$scope',function($scope){
         $scope.myJson = {
           type : 'line',
           series : [
             { values : [0,1] },
             { values : [0,1] }
           ]
         };
              	socket.on('port', function(port){
         		$scope.$apply(function(){
         		$scope.data = port;
         		console.log(port);
         		});
         	});
         	
         	socket.on('engine', function(engine){
         		$scope.$apply(function(){
         		$scope.engine = engine;
            graphupdate(engine[0].value,engine[1].value);
         		console.log(engine);
         
         
       		 //ShowClusterRPMData
			 update(engine[0].value);
			 //ThermometerDATA
			 set(engine[1].value);
         
         		});
         	});
         
         function graphupdate(data,tempdata){
         $scope.myJson.series[0].values.push(data);
         $scope.myJson.series[1].values.push(tempdata);
         }
         }]);
		 
		 function update(data){
			 try {
	             segDisplay.value(data);
	             gauge.value(data);
			 }
			 catch(err) {
				 console.log("ERROR on updating Cluster Data");
				 console.log(err);
			 }
             
		 }
      </script>
		 
		 
       
		 
   </head>
   <body>
      <!-- Header -->
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-xs-6 bg-info" style="text-align:center">
               <h1 ><%=title%></h1>
            </div>
         </div>
      </div>
      <!-- Dropdown um Steuergerät auszuwählen expressjs-->
      <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"style="margin-left:12%;">Steuergerätauswahl
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
            <% nodes.forEach(function(nodes) { %>
            <button id='<%= nodes.id %>'  onclick="window.location.href='http://localhost:3000/<%= nodes.name %>'">
               <img src= '/icons/<%= nodes.pic %>.png' width="100" height="100" >
               <li ><a><%= nodes.name %> 
                  >> ID: <%=nodes.id %></a>
               </li>
            </button>
            <% }); %>
         </ul>
      </div>
      <!-- Hauptteil der Daten verarbeitet -->
      <div class="container"  ng-controller="appCltr" ng-app="myApp" >
         <div class="row">
            <div class="col-md-12">
               <h1><strong> AUSGABEBEREICH</strong></h1>
            </div>
         </div>
         <div class="row">
            <div class="well col-sm-6" style="height: 300px;">
               <div class="tile purple">
                  <h3 class="title">Informationen über das Node</h3>
                  <p><%=nodes[0].name %> mit der ID= <%=nodes[0].id %></p>
                  <p>Motorsteuergerät</p>
                  <p>  {{engine[3].name}} =  {{engine[3].value}}  </p>
                  <!--   Verändert sich nicht daher ExpressJS-->
                  <p>  {{engine[0].name}} =  {{engine[0].value}}   </p>
                  <!--SocketLiveDaten-->
                  <p>  {{engine[1].name}} =  {{engine[1].value}} in ° Celsius  </p>
                  <!--SocketLiveDaten-->
                  <p>  {{engine[2].name}} = Engine running? =  {{engine[2].value}} </p>
                  <!--SocketLiveDaten-->
               </div>
            </div>
            <div  class="well col-sm-6" style="height: 300px;word-wrap: break-word;">
               <div class="tile red">
                  <h3 class="title">RawDaten.</h3>
                  <p>Unverarbeitete Daten.</p>
                  <p>  {{data}}   </p>
                  <p> </P>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="well col-sm-12" style="height: 300px">
               <div class="tile green">
                  <h3 class="title">LiveDaten</h3>
                  <p>Verarbeitete Raw Daten.</p>
                  <p>Für dieses Steuergerät relevante Daten = {{data.substring(0,12)}}</p>
               </div
            </div>
            <!-- height: auto col-sm-12-->
            <div>
               <div class="well col-sm-12" style="height: auto" >
                  <!-- col-sm-12 -->
                  <div class="tile orange">
                     <h3 class="title">Diagramm test</h3>
                     <p>Daten im Diagramm anzeigen.</p>
                     <div class="" style="width: auto" >
                        <p>Live-Darstellung Motordrehzahl /100 und Temperatur</p>
                        <zingchart id="myChart" zc-json="myJson"  ></zingchart>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="well col-sm-12" style="height: 80%;z-index:-1;"> 
               <div class="tile green" >
                  <h3 class="title" >Cluster</h3>
                  <div>
                     <span id="speedometerrpm" ></span>
					    <div id="ste"  style="width: 100px; height: 150px;">
   
					       <div id="klasse" style="background-color:white; width:100px; height:7px; max-height:129px; position:absolute; 								z-index:-1;"></div>
					       <div style="background-color:red; z-index:-2; height:57.5%; position:absolute; width:100px; height:150px;">
	  
					 	  <div id="temp" style="z-index:2;margin: 130px 22px auto;"> -----</div>
					 	  </div>
	   
					 	  <img src="./asd2.png"  alt="enginetemperatur" align="left" hspace="0" vspace="0" style="z-index:2; width:100px; height:150px;">
	  
					 	  </div>
					    </div>
                  </div>
               </div>
            </div>
            <!-- height: auto col-sm-12-->
         </div>
      </div>
      </div>
	  
	   <script src="js/speedometer.js"></script>
 
   </body>
</html>
